header {
    background-color: peru;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}

.info {
    background-color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 80%;
    margin: auto;

}

h2, h3 {
    background-color: darksalmon;
    padding: 5px;
}